<div class="col-lg-6 col-md-8 mx-auto">
  <h1 class="fw-light">Описание продукта</h1>
</div>

<div class="container" id="container">

   <div class="container">
    <div class="product-item shadow-sm col">
      <a class="img_col fon-image" href="../../../../assets/images/1_1.png">
        <img src="{{product.image}}" alt="Image1">
      </a>
      <div class="card-body">
        <h2 class="fs-2">{{product.title}}</h2>
        <p class="card-text">Цена: {{product.price}}</p>
        <p class="card-text">{{product.description}}</p>
        <div class="d-flex justify-content-between align-items-center product-action">

          <a type="button"
             class="btn btn-sm btn-outline-secondary bg-primary text-white hvr-sweep-to-right" routerLink="/order" [queryParams]="{product: product.title}">
            Купить
          </a>
          <!--        <a type="button"-->
          <!--           class="btn btn-white btn-sm btn-outline-secondary bg-primary text-white hvr-sweep-to-right"-->
          <!--           [routerLink]="['/catalog', product.id]">-->
          <!--          Подробнее-->
          <!--        </a>-->
        </div>
      </div>
    </div>
  </div>


</div>

